In [18]:
import requests
import pandas as pd

# API request
url = "https://api.worldbank.org/v2/country/USA;DEU;CHN;AUS;NGA;BRA/indicator/NY.GNP.PCAP.PP.CD?format=json"
response = requests.get(url)
json_request = response.json()

# Extract the data
if len(json_request) > 1:
    df = pd.DataFrame(json_request[1])  # Extract relevant part
else:
    df = pd.DataFrame()

# Keep only relevant columns
df = df[['country', 'countryiso3code', 'date', 'value']]

# Convert 'country' column from a dictionary to a string
df['country'] = df['country'].apply(lambda x: x['value'] if isinstance(x, dict) else x)

# Drop rows with missing GNI values
df = df.dropna(subset=['value'])
df = df.drop(columns=['countryiso3code'])
# Convert 'date' to an integer
df['date'] = df['date'].astype(int)
df['value'] = df['value'].astype(int)
# Sort by country and year
df = df.sort_values(by=['country', 'date'])

In [24]:
df.tail()

     country  date  value
4  Australia  2019  50900
3  Australia  2020  52760
2  Australia  2021  57490
1  Australia  2022  63330
0  Australia  2023  67310

In [27]:
import requests
import pandas as pd

# API request
url = "https://api.worldbank.org/v2/country/USA;DEU;CHN;AUS;NGA;BRA/indicator/NY.GNP.PCAP.PP.CD?format=json"
response = requests.get(url)
json_request = response.json()

# Extract the data
if len(json_request) > 1:
    df = pd.DataFrame(json_request[1])  # Extract relevant part
else:
    df = pd.DataFrame()

df.head()

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'AU', 'value': 'Australia'}",AUS,2023,67310.0,,,0
1,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'AU', 'value': 'Australia'}",AUS,2022,63330.0,,,0
2,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'AU', 'value': 'Australia'}",AUS,2021,57490.0,,,0
3,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'AU', 'value': 'Australia'}",AUS,2020,52760.0,,,0
4,"{'id': 'NY.GNP.PCAP.PP.CD', 'value': 'GNI per ...","{'id': 'AU', 'value': 'Australia'}",AUS,2019,50900.0,,,0