In [133]:
# The following is script to show the countries that are within the API database 

import requests
import pandas as pd

# Creating variable for API key, this API key was found in setting once I had created an account 
API_KEY = "c3024b553e52dd4521f15b0980d5d5d0fa8ff256b4fbb5a20529392c61880384"

# Define headers with the API key, this is so the variable can be used as a parameter the way this is scripted will vary 
# but every API has a docs page that explains how authentication works.
headers = {"X-API-Key": API_KEY}

# This is the request itself it is the API's endpoint (https://api.openaq.org/v3) that is used in all requests
# plus (/countries) this is not a query so it doesnt use a ? it uses a / because it is part of the whole database    
response = requests.get("https://api.openaq.org/v3/countries", headers=headers)
# Now we have the database request saved as a variable we turn it in to a json with this 
database = response.json()
# Now we have it as a json we can go into the file and look at it, here we want to find the part in it that holds the data
# we want so we can refer it in this case it is 'results'
#print(database)
df = pd.DataFrame(database['results'])
df.head()

,id,code,name,datetimeFirst,datetimeLast,parameters
0,1,ID,Indonesia,2016-01-30T01:00:00Z,2025-02-10T13:02:08.861Z,"[{'id': 1, 'name': 'pm10', 'units': 'µg/m³', '..."
1,2,MY,Malaysia,2022-11-03T21:00:00Z,2025-01-13T23:00:00Z,"[{'id': 1, 'name': 'pm10', 'units': 'µg/m³', '..."
2,3,CL,Chile,2016-01-30T01:00:00Z,2025-02-10T11:00:00Z,"[{'id': 1, 'name': 'pm10', 'units': 'µg/m³', '..."
3,5,PE,Peru,2016-03-04T17:00:00Z,2025-02-10T13:00:00Z,"[{'id': 1, 'name': 'pm10', 'units': 'µg/m³', '..."
4,6,AR,Argentina,2016-01-01T03:00:00Z,2025-02-11T03:00:00Z,"[{'id': 1, 'name': 'pm10', 'units': 'µg/m³', '..."